{% extends 'base.html' %} {% load static %} {% block pageContent %}
<section class="py-4">
    <div class="container">
        <center>
            <hr class="bg-light" style="height: 100px;" width="5%">
            <h3 class="fw-bolder text-center">List of Trips</h3>
            <hr class="bg-light" style="height: 12px;" width="5%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-3">
                        <a href="{% url 'add_flight' %}" class="btn btn-primary">Add New</a>
                    </div>
                    <table class="table table-bordered table-striped" id="flight-tbl">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                            <col width="40%">
                            <col width="5%">
                            <col width="5%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <!-- <th class="text-center">Flight</th>
                                <th class="text-center">Airline</th> -->
                                <th class="text-center">Train Code</th>
                                <th class="text-center">Details</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for flight in flights %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <!-- <td>{{ flight.code }}</td>
                                <td>{{ flight.airline.name}}</td> -->
                                <td>
                                    <div class="lh-1">
                                        <small><b></b> {{ flight.air_craft_code}}</small>
                                    </div>
                                </td>
                                <td>
                                    <div class="lh-1">
                                        <small><b>Departure:</b> {{ flight.departure|date:"Y-m-d h:i A" }}, {{ flight.from_airport.name }}</small><br>
                                        <small><b>Arrival:</b> {{ flight.estimated_arrival|date:"Y-m-d h:i A" }}, {{ flight.to_airport.name }}</small>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-outline-success" href="{% url 'edit_trip' flight.id %}">Edit</a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger" href="{% url 'delete_trip' flight.id %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %} {% block ScriptBlock %}


{% endblock ScriptBlock %}