{% extends 'base.html' %} {% load static %} {% block pageContent %}

<section class="py-4">
    <div class="container">
        <center>
            <hr class="bg-light" style="height: 100px;" width="5%">
            <h1 class="fw-bolder text-center">Welcome to The Railway Booking System</h1>
            <hr class="bg-light" style="height: 12px;" width="5%">
            
            <a href="{% url 'public-page' %}" class="btn btn-primary">Book a Trip</a>
        </center>
        
        
    </div>
    
</section>
{% endblock pageContent %} {% block ScriptBlock %}

{% endblock ScriptBlock %}